<!DOCTYPE html>
<html>
  <head>
    <title>T-Rex Designs</title>
    <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <video id="bgVideo" controls preload="false" autoplay loop muted>
      <source src="../assets/the_sun.mp4" type="video/mp4" > 
    </video>
    <ul class="ym-skiplinks">
      <li><a class="ym-skip" href="#nav">Skip to navigation (Press Enter)</a></li>
      <li><a class="ym-skip" href="#main">Skip to main content (Press Enter)</a></li>
    </ul>
    <nav id="nav">
      <div class="ym-wrapper" style="max-width: 76em;">
        <div class="ym-hlist">
          <ul>
            <li class="active"><strong>Home</strong></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Resume</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <h1 style="line-height: 30px; margin: 0; color: #fff;">
            <span style="font-size: 30px;">
              <img src="../assets/rex-eye.png" style="max-height: 30px;"/>
              T-Rex&nbsp;Designs
            </span>
            <span style="font-size: 12px; font-weight: normal; font-family: 'Ubuntu', Georgia, 'Times New Roman', Times, serif;">&nbsp;-&nbsp;Ruby&nbsp;on&nbsp;Rails&nbsp;Developer&nbsp;(Chicago)
            </span>
          </h1>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer>
      <div class="ym-grid ym-wrapper" style="max-width: 76em;">
        <div class="ym-g50 ym-gl">
          <div class="ym-gbox">

            <%= link_to(image_tag("/assets/logos/menu/home.png", :alt => "logo", :title => "Home"), "/") %>
            <%= link_to(image_tag("/assets/logos/menu/about.png", :alt => "logo", :title => "About"), about_index_path) %>
            <%= link_to(image_tag("/assets/logos/menu/skills.png", :alt => "logo", :title => "Skills"), service_skills_path) %>
            <%= link_to(image_tag("/assets/logos/menu/jobs.png", :alt => "logo", :title => "Jobs"), jobs_path) %>
            <%= link_to(image_tag("/assets/logos/menu/resume.png", :alt => "logo", :title => "Resume"), resumes_path) %>
            <%= link_to(image_tag("/assets/logos/menu/contact.png", :alt => "logo", :title => "Contact"), contacts_path) %>

          </div>
        </div>

        <div class="ym-g50 ym-gr">
          <div class="ym-gbox">
            <p>This responsive web site has been designed, developed, and maintained by Leroy Brown. It’s built with Ruby on Rails, optimized for a fast page load, hosted on AWS and served via CloudFront. Current Average load is 0.4s.</p>
          </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- full skip link functionality in webkit browsers -->
    <script src="../yaml/core/js/yaml-focusfix.js"></script>
  </body>
</html>
