<!DOCTYPE html>
<html>
<head>
  <title>H. Leroy Brown Resume - Ruby on Rails Developer</title>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</head>
<body>
    <% @services.each do |service| %>
<% service.service_skills.each do |skill| %>


<% labels = (ServiceSkill.where(service_id: service.id).to_a).map{|level| level[:name]} %>
<script>
$(function () { 
    $('#container<%= service.id %>').highcharts({
        credits: {
            enabled: false
        },
        chart: {
            type: 'bar'
        },
        title: {
            text: '<%= service.name %>'
        },
        xAxis: {
            categories: <%=  json_escape labels.to_json.html_safe %>    

        },
        yAxis: {
            max: 10,
            title: {
                text: 'MY SKILL LEVEL (4 is Average BUT 8 is Great)'
            }
        },
        series: [{
            showInLegend: false,        
            data: <%= (ServiceSkill.where(service_id: service.id).to_a).map{|level| level[:my_skill_level]} %>
            
        }]
    });
});
</script>
<% end %>
<div id="container<%= service.id %>" style="width:300px; height:300px; display: inline-block;"></div>

 <% end %>
<%= yield %>

</body>
</html>
